h1 {
  color: #ff1e78;
}
form {
  margin-bottom: 10px;
}
p {
  margin-bottom: 5px;
}

img {
  /*-webkit-filter: drop-shadow(3px 3px 3px rgb(156, 155, 155, 0.8));*/
  /*filter: drop-shadow(0 3px 3px rgba(116, 147, 160, 0.877));*/
  filter: hue-rotate(337deg) drop-shadow(3px 3px 3px rgb(156, 155, 155, 0.8));
}

.weather {
  color: #59607a;
  margin: 50px auto;
  max-width: 60%;
}
.border {
  background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg");
  background-size: cover;
}

/*
.buttons {
  padding-left: 0px;
}

.btn {
  padding: 8px;
}
*/
.city-search {
  padding-right: 0;
}

.today {
  padding: 0 10px 10px;
}
.temp {
  font-size: 1.1em;
}
.units {
  font-size: 20px;
  position: relative;
  left: 6px;
}

.units .active {
  color: #59607a;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}

#celsius,
#fahrenheit {
  text-decoration: none;
}
.today-right {
  background-color: #e9ebeec2;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.today-right-top {
  /* 
  display: flex;
  align-items: baseline;
  */
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 900;
}
#curr-temp {
  position: relative;
  top: 8px;
}
#icon-now {
  width: 80px;
  height: 80px;
  /*
  display: inline-block;
  vertical-align: top;
  */
}
.weekly {
  margin: 0;
  padding-right: 0;
}
.col.days {
  background-color: #e9ebee85;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(156, 155, 155, 0.7);
  margin: 10px 5px;
  max-width: 130px;
  padding: 5px 3px;
  text-align: center;
}
.day {
  margin-bottom: -0.3em;
}
.weather-icon {
  color: #3470ca;
  font-size: 30px;
  margin-bottom: 8px;
}
.next-temp {
  color: #ff1e78;
  font-size: 18px;
  margin-bottom: 0px;
}
.next-humid {
  color: #196ce7;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
}
.temp-day {
  font-weight: bold;
}
.footer {
  font-size: small;
  text-align: center;
}
#description:first-letter {
  text-transform: capitalize;
}
